* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}
header {
border: solid;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style-type: none;
    border: solid;
}

nav ul li {
    border: solid;
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    border: solid;
}

nav{
    display: flex;
    margin-right: 20px;
    flex-direction: column;
    border: solid;
}


main {
    padding: 20px;
    border: solid;
}

.log_in{
    border:solid;
    display: flex;
    justify-content:end

}